.flexcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vw;
}
.liste{
    width: 10vw;    
    align-self: self-start;
    background-color: #cbcbcb65;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: auto;
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0.6vw;
    font-weight: 600;
    text-align: center;
    font-size: 0.8vw;
    border-radius: 0.5vw;

}

.content{
    background-color: #cdcbcb1a;
    list-style: none;
    margin-left: 1vw;
    border-radius: 0.5vw;
    width: 60%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@media (max-width: 480px) {

    .flexcontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    

    
}