/***  Styling for .navbar  ***/
/* velger å style uten klasse - hvor .navbar elementet bare blir brukt slik */

.navElement {
  list-style: none;
}
.navbar .links {
  display: flex;
}

.navbar .links .navElement {
  list-style: none;
}

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color:  #f8f7f6dd;
  top: 0;
  z-index: 2;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.navbar .logo {
  margin: 1vw;
  margin-left: 3vw;
}

.navbar .links li a:not(.active):hover {
  background-color:#55788C;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: white;
}

.navbar .links li a {
  text-decoration: none;
  color: black;
  margin-right: 1vw;
  padding: 0.5vw;
  border-radius: 0.3vw;
  font-weight: 600;
}

/*Burger meny*/
.navburger {
  display: none;
}

/*Footer*/
.footerContainer {
  display: flex;
  width: 100vw;
  background-color: #f8f7f6dd;
}

.images {
  height: auto;
}

.footerContent {
  display: flex;
  flex-direction: column;
  font-size: 1.25vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 1vw;
}

.sosMed ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.sosMed ul li {
  list-style: none;
  padding-left: 1vw;
}

.sosMed ul li a img {
  width: 2vw;
}

@media (max-width: 480px) {
  .navbar {
    display: none;
  }

  .navbar .logo {
    display: block;
  }

  /*burger meny*/
  .burgermenu {
    text-align: right;
    display: block;
  }
  .navburger .logo {
    margin: 0.5rem;
    margin-left: 4vw;
  }

  .burgerIconClosed .burgerIcon {
    font-size: 8.5vw;
    margin-right: 4vw;
    margin-top: 3.5vw;
  }

  .burgerIconClosed .closeIcon {
    font-size: 8.5vw;
    margin-right: 4vw;
    margin-top: 3.5vw;
  }
  
  .navburger {
    display: flex;
    justify-content: space-between;
    /*border-bottom: 1px solid #7d7d7d; */
    margin-bottom: 4vw;
  }
  .burgerElement {
    list-style: none;
  }
  
  .burgerlinks {
    position: absolute;
    background-color: #f8f7f6dd;
    right: 0;
    }
  
  .burgerlinks li {
    display: block;
    margin: 2vw 2vw 2vw 2vw;
  }
  
  .burgerlinks li a {
    text-decoration: none;
    color: black;
    font-size: 5vw;
  }
  
  /*Footer*/
  .footerContent h1 {
    font-size: 6vw;
  }

  .sosMed ul li a img {
    width: 6vw;
  }

  .infoFoot p {
    font-size: 4.5vw;
  }

  .copyright p {
    font-size: 3vw;
  }

}

/* alleAnsatte */
.alleAnsatte {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  height: '100vh';
  margin-top: 5vw;
}
.alleAnsatteContainer {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  width: 100%;
}
.førsteContainer {
  width: 50%;
}
.visAnsatte {
  font-size: 1em;
  font-weight: bold;
  color: #A69679;
  margin-bottom: 10px;
}
.leggTilAnsatteKnapp {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 1vw;  
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 1vw;
}
.ansatteListe {
  list-style-type: none;
  font-size: 1.2vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ansatteListevisning {
  margin-bottom: 2vw;
  margin-top: 1vw;
  justify-content: space-between;

}
.andreContainer {
  width: 50%;
}
.leggTilAnsatte {
  font-size: 1em;
  font-weight: bold;
  color: #A69679;
  margin-bottom: 10px;
}
.leggTilKryss {
  font-size: 1em; 
  color: #A69679;
}
.ansattForm {
  display: flex;
  flex-direction: column;  
  gap: 2vw; 
  padding: 1vw;
  font-size: 1.2vw;
  font-weight: 600;
}
/*
.ansattContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
} 
*/
.ansattLabel {
  margin-bottom: 1vw;
}
.leggTilKnapp {
  background-color: #55788C;
  color: white; 
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1vw;
  margin: 1vw;
  margin-top: 1vw;
  border-radius: 0.5vw;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.ansattInput {
  padding: 0.5vw;
  border-radius: 5px;
  border: 1px solid #ccc;
}