/***  Styling for .navbar  ***/
/* velger å style uten klasse - hvor .navbar elementet bare blir brukt slik */

.navElement {
  list-style: none;
}
.navbar .links {
  display: flex;
}

.navbar .links .navElement {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(white, #fafafa);
  border-bottom: 1px solid #7d7d7d;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar .logo {
  margin: 0.5rem;
  margin-left: 3rem;
}

.navbar .links li a {
  text-decoration: none;
  color: black;
  margin-left: 25px;
  margin-right: 25px;
  padding: 5px;
  border-radius: 0.3rem;
}

.navbar .links li a:not(.active):hover {
  background-color: #cb9e58;
  color: white;
}

/* Burger Meny
.navbar .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
.navbar .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}
*/

/*Footer*/
.footerContainer {
  display: flex;
  width: 100%;
  background-color: #eaecee;
}

.images {
  height: auto;
}

.footerContent {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 20px;
}

.sosMed ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.sosMed ul li {
  list-style: none;
  padding-right: 0.5rem;
}

.sosMed ul li a img {
  width: 2vw;
}

@media (max-width: 480px) {
  .navbar .menu {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: start;
  }

  .navbar .links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .navbar .links.open {
    display: flex;
  }

  .navbar .links .navElement {
    width: 100%;
    text-align: center;
  }

  .navbar .links .navElement a {
    margin: 0.2rem 0.5rem;
  }

  .footBody {
    flex-direction: column;
  }

  .footVenstre h1 {
    font-size: 7vw;
  }

  .sosMed ul li a img {
    width: 6vw;
  }

  .infoFoot p {
    font-size: 4.5vw;
  }

  .copyright p {
    font-size: 3.5vw;
  }

  .footHøyre h2 {
    font-size: 5vw;
    margin-top: 2vw;
  }

  .footHøyre ul li a {
    font-size: 4vw;
  }
}
/* burgermeny og .navbar ferdig */

/* styling for .sidebar*/

.sidebar .links {
  display: flex;
  flex-direction: column;
}

.sidebar .links .navElement {
  list-style: none;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(white, #fafafa);
  border-bottom: 1px solid #7d7d7d;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidebar .logo {
  margin: 0.5rem;
  margin-left: 3rem;
}

.sidebar .links li a:not(.active):hover {
  background-color: #cb9e58;
  color: white;
}

.sidebar .links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.nsidebar .links li a:not(.active):hover {
  background-color: #cb9e58;
  color: white;
}
