/***  Styling for .navbar  ***/
/* velger å style uten klasse - hvor .navbar elementet bare blir brukt slik */
.navElement {
  list-style: none;
}
.navbar .links {
  display: flex;
}

.navbar .links .navElement {
  list-style: none;
}

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(white, #fafafa);
  border-bottom: 1px solid #7d7d7d;
  box-shadow: 0 0 10px grey;
  top: 0;
  z-index: 2;
}

.navbar .logo {
  margin: 0.5rem;
  margin-left: 3rem;
}

.navbar .links li a:not(.active):hover {
  background-color: #273746;
    box-shadow: 0 0 10px black;
    color: white;
}

.navbar .links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

/*Burger meny*/
.navburger {
  display: none;
}

/*Footer*/
.footBody {
  display: flex;
  padding-top: 1rem;
  background-color: #EAECEE;
}

.images {
  width: 100%;
  height: auto;
}

.footVenstre,
.footHøyre {
  flex: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.footVenstre h1 {
  font-size: 3vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sosMed ul {
  display: flex;
  flex-direction: row;
}

.sosMed ul li {
  list-style: none;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.sosMed ul li a img {
  width: 2vw;
}

.infoFoot p {
  font-size: 1.25vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.copyright p {
  font-size: 1.25vw;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footHøyre h2 {
  font-size: 1.25vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footHøyre ul li {
  list-style: none;
}

.footHøyre ul li a {
  color: black;
  font-size: 1vw;
}

@media (max-width: 480px) {
  .navbar {
    display: none;
  }

  .navbar .logo {
    display: block;
  }

  /*burger meny*/
  .burgermenu {
    text-align: right;
    display: block;
  }
  .navburger .logo {
    margin: 0.5rem;
    margin-left: 4vw;
  }

  .burgerIconClosed .burgerIcon {
    font-size: 8.5vw;
    margin-right: 4vw;
    margin-top: 3.5vw;
  }

  .burgerIconClosed .closeIcon {
    font-size: 8.5vw;
    margin-right: 4vw;
    margin-top: 3.5vw;
  }
  
  .navburger {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7d7d7d;
    margin-bottom: 4vw;
  }

  .burgerElement {
    list-style: none;
  }
  
  .burgerlinks {
    position: absolute;
    background-color: white;
    border: 1px solid #7d7d7d;
    right: 0;
  }
  
  .burgerlinks li {
    display: block;
    margin: 2vw 2vw 2vw 2vw;
  }
  
  .burgerlinks li a {
    text-decoration: none;
    color: black;
    font-size: 5vw;
  }

  /*Footer*/
  .footBody {
    flex-direction: column;
  }

  .footVenstre h1 {
    font-size: 7vw;
  }

  .sosMed ul li a img {
    width: 6vw;
  }

  .infoFoot p {
    font-size: 4.5vw;
  }

  .copyright p {
    font-size: 3.5vw;
  }

  .footHøyre h2 {
    font-size: 5vw;
    margin-top: 2vw;
  }

  .footHøyre ul li a {
    font-size: 4vw;
  }

}
/* burgermeny og .navbar ferdig */

