
.main {
 height: auto;
 padding-top: 0.01vw;
 background-color: #f8f7f6dd;


}

.flexEn {
  display: flex;
  flex-direction: row;
  background-color:  #f8f7f6dd;
  /*box-shadow: 0px 4px 10px grey;*/
  margin-bottom:2vw;
  margin-top: 3vw;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 5vw;
  text-align: center;
  padding: 1vw;
}


.flexVenstreEn {
  flex: 1;
  margin: 1vw 1vw 1vw 1vw;
}

.images {
  width: 100%;
  height: auto;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  padding-bottom: 1vw;
}

.flexVenstreEn p {
  font-size: 2.0vw;
  margin-left: 2vw;
  font-weight: 600;
}

.flexVenstreEn ul li {
  list-style: none;
  margin-top: 4vw;
  text-align: center;
}

.flexVenstreEn ul li a {
  list-style: none;
  text-decoration: none;
  font-size: 1.2vw;
  padding: 0.8vw;
  font-weight: 600;
  border-radius: 1vw;
  background-color: #55788C;
  color: #ffffff;
  box-shadow: rgba(114, 114, 111, 0.3) 0px 19px 38px, rgba(154, 156, 149, 0.22) 0px 15px 12px;
}

.flexTo {
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
}

.flexVenstreTo,
.flexMidtTo,
.flexHøyreTo {
  flex: 1;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 3vw;
  border-radius: 1vw;
  margin: 1vw 3.5vw 5vw 3.5vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.flexVenstreTo h2,
.flexMidtTo h2,
.flexHøyreTo h2 {
  text-align: center;
  font-size: 1.3vw;
}

.flexVenstreTo p,
.flexMidtTo p,
.flexHøyreTo p {
  padding-left: 1vw;
  padding-right: 1vw;
}

/*telefon format*/
@media (max-width: 480px) {

  .flexVenstreEn p {
    font-size: 5vw;
    padding: 1vw 5vw 5vw 5vw;
  }

  .flexVenstreEn ul li a {
    font-size: 4vw;
    padding: 3vw;
    border-radius: 5vw;
    background-color: #273746;
    color: white;
    box-shadow: 0 0 10px black;
  }
  .flexTo {
    flex-direction: column;
    padding-top: 15vw;
  }

  .flexVenstreTo,
  .flexMidtTo,
  .flexHøyreTo {
    margin: 0vw 0vw 10vw 0vw;
    padding-bottom: 10vw;
  }

  .flexVenstreTo h2,
  .flexMidtTo h2,
  .flexHøyreTo h2 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  .flexVenstreTo p,
  .flexMidtTo p,
  .flexHøyreTo p {
    padding: 0vw 2vw 0vw 2vw;
    font-size: 3.5vw;
  }
}
