
.main {
 height: auto;
 padding-top: 0.01vw;
 background-color: #D6D6CE;


}

.flexEn {
  display: flex;
  flex-direction: row;
  background-color:  #D6D6CE;
  /*box-shadow: 0px 4px 10px grey;*/
  margin-bottom:2%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5vw;
  text-align: center;
  padding: 1vw;
}


.flexVenstreEn,
.flexHøyreEn {
  flex: 1;
  margin: 1vw 1vw 1vw 1vw;
}

.images {
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-bottom: 1vw;
}

.flexVenstreEn h1 {
  font-size: 2vw;
  font-family: Segoe UI;
  margin-top: 7vw;
  margin-left: 2vw;
}

.flexVenstreEn p {
  font-size: 2.0vw;
  margin-left: 2vw;
  font-weight: 600;
}

.flexVenstreEn ul li {
  list-style: none;
  margin-top: 4vw;
  text-align: center;
}

.flexVenstreEn ul li a {
  list-style: none;
  text-decoration: none;
  font-size: 1.2vw;
  padding: 0.8rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: #A69679;
  color: #ffffff;
  margin-bottom: 0.5rem;
  box-shadow: rgba(114, 114, 111, 0.3) 0px 19px 38px, rgba(154, 156, 149, 0.22) 0px 15px 12px;
}

.flexTo {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.flexVenstreTo,
.flexMidtTo,
.flexHøyreTo {
  flex: 1;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 1vw 3.5vw 5vw 3.5vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.flexVenstreTo h2,
.flexMidtTo h2,
.flexHøyreTo h2 {
  text-align: center;
  font-size: 1.3vw;
}

.flexVenstreTo p,
.flexMidtTo p,
.flexHøyreTo p {
  padding-left: 1vw;
  padding-right: 1vw;
}

.flexTre {
  display: flex;
}
.text {
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 1vw 36vw 5vw 3.5vw;
  box-shadow: 0 0 10px grey;
  padding: 1vw 1vw 1vw 1vw;
}

.text h2 {
  font-size: 2vw;
}

.text p {
  font-size: 1.5vw;
}
.flexVenstreTo, .flexMidtTo, .flexHøyreTo {
  text-align: center;
  padding-bottom: 3vw;
}

/*telefon format*/
@media (max-width: 480px) {
  .flexEn {
    flex-direction: column-reverse;
    padding-bottom: 5vw;
    
  }

  .flexVenstreEn h1 {
    font-size: 4vw;
    margin-top: 0vw;
  }

  .flexVenstreEn p {
    font-size: 3vw;
    padding: 2vw 10vw 2vw 4vw;
  }

  /*.flexVenstreEn ul li {
    margin: 0vw 0vw 0vw 35vw;
  }
  */

  .flexVenstreEn ul li a {
    font-size: 3vw;
    padding: 3vw;
    border-radius: 5vw;
    background-color: #273746;
    color: white;
    box-shadow: 0 0 10px black;
  }
  .flexTo {
    flex-direction: column;
    padding-top: 20vw;
  }

  .flexVenstreTo,
  .flexMidtTo,
  .flexHøyreTo {
    margin: 5vw 0vw 5vw 0vw;
    padding-bottom: 10vw;
  }

  .flexVenstreTo h2,
  .flexMidtTo h2,
  .flexHøyreTo h2 {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .flexVenstreTo p,
  .flexMidtTo p,
  .flexHøyreTo p {
    padding: 0vw 2vw 0vw 2vw;
    font-size: 3vw;
  }

  .text {
    margin: 1vw 0vw 5vw 0vw;
    padding: 3vw 3vw 3vw 3vw;
  }

  .text h2 {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .text p {
    font-size: 3.5vw;
  }
}
