.main {
  height: auto;
}

.flexEn {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  background-color: #9de5fa;
}

.flexVenstreEn,
.flexHøyreEn {
  flex: 1;
  margin: 1% 1% 1% 1% ;
}

.images {
  width: 100%;
  height: auto;
}

.flexVenstreEn h1 {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
}

.flexVenstreEn p {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.flexVenstreEn ul li {
  list-style: none;
  margin-top: 5vw;
}

.flexVenstreEn ul li a {
  list-style: none;
  text-decoration: none;
  font-size: 1.25vw;
  padding: 1.1rem;
  border-radius: 1rem;
  background-color:#0a4160 ;
  color: white;
  margin-bottom: 0.5rem;
}

.flexTo {
  display: flex;
  text-align: center;
  padding-top: 5%;
}

.flexVenstreTo {
  flex: 1;
  flex-basis: 1%;
  background-color: lightblue;
}
.flexMidtTo {
  flex: 1;
  flex-basis: 1%;
  background-color: lightcoral;
}
.flexHøyreTo {
  flex: 1;
  flex-basis: 1%;
  background-color: lightgoldenrodyellow;
}

.images {
  width: 100%;
  height: auto;
}

.flexTre {
  display: flex;
  text-align: center;
}

.flexVenstreTre, .flexMidtTre,
.flexHøyreTre {
  flex: 1;
}

.flexHøyreTre h1 {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.flexHøyreTre p {
  font-size: 1.25vw;
  font-family: Arial, Helvetica, sans-serif;
}

.flexHøyreTre h1 {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.flexHøyreTre p {
  font-size: 1.25vw;
  font-family: Arial, Helvetica, sans-serif;
}

/*telefon format*/
@media (max-width: 480px) {
  .flexEn {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .flexHøyreEn h1 {
    font-size: 3vw;
  }

  .flexHøyreEn p {
    font-size: 3vw;
    padding: 2% 25% 2.5% 25%;
  }

  .flexTo {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .flexHøyreTo h1 {
    font-size: 3vw;
  }

  .flexHøyreTo p {
    font-size: 3vw;
    padding: 2% 25% 2.5% 25%;
  }

  .flexTre {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .flexHøyreTre h1 {
    font-size: 3vw;
  }

  .flexHøyreTre p {
    font-size: 3vw;
    padding: 2% 25% 2.5% 25%;
  }
}
