.pageContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 100px 0;
  background-image: url("../../public/ute1.png");
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
  padding-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding: 2vw;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 1vw;
}

.textfieldEmail {
  display: flex;
  height: 2.5vw;
  padding-left: 1vw;
  font-size: 1.5vw;
}

.textfieldPw {
  display: flex;
  height: 2.5vw;
  margin: 1.5vw 0 0 0;
  padding-left: 1vw;
  font-size: 1.5vw;
}

.textfield::placeholder {
  font-size: 1vw;
  left: 2vw;
}


.formContainer, .loginBtn {
  margin-top: 1vw;
  text-align: center;
}
.loginBtn {
  border: 1px black;
  font-size: 1em;
  width: 10vw;
  padding: 10px;
  margin-bottom: 1vw;
  border-radius: 1.5vw;
  background-color: #55788C;
  color: #ffffff;
  cursor: pointer;
}

.loginBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #749cb3;
}
.link {
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 480px) { 
  .pageContainer {
    height: 100vw;
    margin-top: 10vw;
  }
  
  .formContainer {
    width: 60vw;
    padding: 2vw;
  }
  
  .textfieldEmail {
    margin: 1vw 1vw 1vw 1vw;
    height: 7vw;
    padding-left: 1vw;
    font-size: 4vw;
  }
  
  .textfieldPw {
    margin: 1vw 1vw 1vw 1vw;
    height: 7vw;
    padding-left: 1vw;
    font-size: 4vw;
  }
  
  .textfield::placeholder {
    font-size: 1vw;
    left: 2vw;
  }
  
  .loginBtn {
    border: 1vw black;
    font-size: 5vw;
    width: 45vw;
    border-radius: 1.5vw;
  }
}
