.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sideListe{
    flex-grow: 0;
    width: 14vw;
    max-width: 15vw;
    justify-content: baseline;
    background-color: #cbcbcb65;
    margin-left: 0.7vw;
    list-style: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 0.5vw;
    align-self: self-start;
    height: auto;
    margin-top: 4vw;
    padding: 1vw;
    
}

.restenPanel{
    flex-grow: 1;
    width: 50vw;
    background-color: #cdcbcb1a;
    list-style: none;
    margin: 1em;
    margin-top: 4vw;
    padding: 1em;
    text-align: center;
    align-items: center;
    border-radius: 0.5vw;
    margin-left: 1vw;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.overskrift{
    text-align: center;
    color:#55788C;
    font-size: 1.2vw;
    margin-top: 1vw;
    font-weight: 600;
}
.overskriftValgt {
    text-align: center;
    color:#55788C;
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-weight: 600;

}

@media (max-width: 480px) { 
    .flexcontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 10vw 0vw 10vw 0vw;
    }
    
    .sideListe{
        flex-grow: 0;
        width: 35vw;
        max-width: 50vw;
        justify-content: baseline;
        background-color: #cbcbcb65;
        margin-left: 0.7vw;
        list-style: none;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border-radius: 0.5vw;
        align-self: self-start;
        height: auto;
        margin-top: 0vw;
        padding: 1vw;
        
    }
    
    .restenPanel{
        flex-grow: 1;
        background-color: #cdcbcb1a;
        list-style: none;
        margin: 1vw;
        margin-top: 0vw;
        padding: 1vw;
        text-align: center;
        align-items: center;
        border-radius: 0.5vw;
        margin-left: 1vw;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
    .overskrift{
        text-align: center;
        color:#55788C;
        font-size: 5vw;
        margin-top: 1vw;
        font-weight: 600;
    }
    
    .overskriftValgt {
        text-align: center;
        color:#55788C;
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        font-weight: 600;
    
    }
}