/*   Styling for alle komponenter under profiler   */


/*  Liste  */

.profilListe{
    list-style: none;
    padding: 0.5vw;
}
.profilListItem{
    background-color: #f6f6f6;
    margin-bottom: 1vw;
    margin-top: 0.2vw;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.testSkrift {
    margin-top: 1.2vw;
  }

  .miniSkrift {
    font-size: 1vw;
    margin: 1vw;
  }
  .litenSkrift {
    font-size: 1vw;
    margin: 0.5vw;
  }
  .scoreTop {
    font-size: 1vw;
  }


.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 8vw;
  height: auto;
  width: 60%;
}
.knappOppdater {
  background-color: #55788C;
  color: white; 
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.knappSlett {
  background-color: #55788C;
  color: white; 
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

    

@media (max-width: 480px) { 
    .profilListItem{
        font-size: 3vw;
    }
    .testSkrift {
      margin-top: 45vw;

    }
    .chartContainer {
      
      margin-left: 4vw;
      height: 50vw;
      width: 85vw;
      
    }
    .miniSkrift {
      font-size: 3vw;
      margin: 1vw;
    }
    .litenSkrift {
      font-size: 2.5vw;
      margin: 0.5vw;
      margin-left: 3vw;
      margin-right: 3vw;
    }
    .scoreTop {
      font-size: 2.5vw;
      font-weight: 600;
    }
    .oOverskrift {
      font-size: 4vw;
      font-weight: 600;
    }
    .overskriftUnderkategori {
      font-size: 3vw;
    }

  }
