/*   Styling for alle komponenter under profiler   */


/*  Liste  */

.profilListe{
    list-style: none;
}
.profilListItem{
    font-size: 1.5vw;
    
}

@media (max-width: 480px) { 
    .profilListItem{
        font-size: 3vw;
    }
}