/*   Styling for alle compare komponenter   */

.liste {
    list-style: none;
}


/*  valgte profiler  */
.valgtKnapp {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #cbcbcb65;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 1vw;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    padding: 0.3vw;
    border-radius: 0.5vw;
    

}

/*  liste element  */

.valgtElement {
    color : #000000;
    background-color: #55788c6d;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: auto;
    width: auto;
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0.6vw;
    text-align: center;
    font-weight: bold;
    font-size: 0.7vw;
    border-radius: 0.5vw;
}
.ikkeValgtElement{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: auto;
    width: auto;
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0.6vw;
    font-weight: 600;
    text-align: center;
    font-size: 0.7vw;
    border-radius: 0.5vw;
}



.chartContainer {
    width: auto; 
    height: auto;
    margin: 1vw;
    align-items: center;
    padding-left: 3vw;
}

.kryssUt {
    margin-top: 0.3vw;
    margin-left: 0.2vw;

}
.ikonLeggTil {
    padding-top: 0.2vw;
    margin-left: 0.2vw;
    height: 1.1vw;
    width: 1.1vw;
}
.ingenting {
    font-size: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    text-align: center;
    font-weight: 600;

}