
.pageContainer {
  display: flex;
  justify-content: center;
  margin: 1vw 10vw 10vw 10vw;
  padding: 10vw 10vw 15vw 10vw;
  background-image: url("../../public/workplace.png");
  background-size: cover;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding: 2vw;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 1vw;
}

.textfieldBedrift {
  display: flex;
  height: 2.5vw;
  margin: 1.5vw 0 1.5vw 0;
  padding-left: 1vw;
  font-size: 1.5vw;
}

.textfieldEmail {
  display: flex;
  height: 2.5vw;
  padding-left: 1vw;
  font-size: 1.5vw;
}

.textfieldPw {
  display: flex;
  height: 2.5vw;
  margin: 1.5vw 0 1vw 0;
  padding-left: 1vw;
  font-size: 1.2vw;
  font-weight: 600;
}

.textfield::placeholder {
  font-size: 1vw;
  left: 2vw;
}

.formContainer, .regBtn {
  text-align: center;
}

.regBtn {
  border: 1px black;
  font-size: 1.25vw;
  width: 10vw;
  padding: 1vw;
  margin-bottom: 1vw;
  border-radius: 1.5vw;
  background-color: #55788C;
  color: #ffffff;
  cursor: pointer;
}

.regBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #749cb3;
}


.link {
  text-decoration: none;
  font-weight: 600;
}


@media (max-width: 480px) {
  .pageContainer {
    height: 100vw;
    margin-top: 10vw;
  }
  
  .formContainer {
    width: 60vw;
    padding: 2vw;
  }
  
  .textfieldBedrift {
    margin: 1vw 1vw 1vw 1vw;
    height: 7vw;
    padding-left: 1vw;
    font-size: 4vw;
  }
  
  .textfieldEmail {
    margin: 1vw 1vw 1vw 1vw;
    height: 7vw;
    padding-left: 1vw;
    font-size: 4vw;
  }
  
  .textfieldPw {
    margin: 1vw 1vw 0vw 1vw;
    height: 7vw;
    padding-left: 1vw;
    font-size: 4vw;
  }
  
  .textfield::placeholder {
    font-size: 1vw;
    left: 2vw;
  }
  
  .regBtn {
    border: 1vw black;
    font-size: 5vw;
    width: 45vw;
    border-radius: 1.5vw;
  }
}