
/*.form {
    column-gap: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;

}*/
.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(172, 148, 148);
    border: 1px solid black;
    box-shadow: 0 0 10px black;
 }
 
 .flexbox {
     column-count: 2;
     padding: 10px;
     margin: 10px;
     border-radius: 10px;
     display: table-cell;
     justify-content: center;
     gap: 10px;
 }