.pageContainer {
  display: flex;
  justify-content: center;
  margin: 5vw 0vw 10vw 0vw;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding: 2vw;
  background-color: #ffffff;
  box-shadow: 0 0 10px grey;
  border-radius: 1vw;
}

.textfieldBedrift {
  display: flex;
  height: 2.5vw;
  margin: 1.5vw 0 1.5vw 0;
  padding-left: 1vw;
  font-size: 1.5vw;
}

.textfieldEmail {
  display: flex;
  height: 2.5vw;
  padding-left: 1vw;
  font-size: 1.5vw;
}

.textfieldPw {
  display: flex;
  height: 2.5vw;
  margin: 1.5vw 0 1vw 0;
  padding-left: 1vw;
  font-size: 1.2em;
}

.textfield::placeholder {
  font-size: 1vw;
  left: 2vw;
}

.regBtn {
  border: 1vw black;
  font-size: 1.5vw;
  width: 30vw;
  padding: 1vw;
  border-radius: 1.5vw;
  background-color: rgb(82, 82, 220);
  color: #ffffff;
  cursor: pointer;
}

.link {
  text-decoration: none;
}


@media (max-width: 480px) {
  .pageContainer {
    height: 100vw;
    margin-top: 10vw;
  }
  
  .formContainer {
    width: 60vw;
    padding: 2vw;
  }
  
  .textfieldBedrift {
    margin: 1vw 1vw 1vw 1vw;
    height: 7vw;
    padding-left: 1vw;
    font-size: 4vw;
  }
  
  .textfieldEmail {
    margin: 1vw 1vw 1vw 1vw;
    height: 7vw;
    padding-left: 1vw;
    font-size: 4vw;
  }
  
  .textfieldPw {
    margin: 1vw 1vw 0vw 1vw;
    height: 7vw;
    padding-left: 1vw;
    font-size: 4vw;
  }
  
  .textfield::placeholder {
    font-size: 1vw;
    left: 2vw;
  }
  
  .regBtn {
    border: 1vw black;
    font-size: 5vw;
    width: 45vw;
    border-radius: 1.5vw;
  }
}