.flexSidebar {
  display: flex;
}

/*sidenav*/
.sidenav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  background-color: #6fe3ff;
  border-right: 1px solid #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
  box-shadow: 0 0 10px grey;
}

.sidenav .links {
  list-style: none;
}

.sidenav .links li a {
  display: block;
  text-decoration: none;
  text-align: left;
  background-color: #273746;
  color: white;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  margin: 1vw 0.5vw 0.5vw 0.5vw;
  border-radius: 0.5rem;
  font-size: 1.7vw;
}

.sidenav .links li a:not(.active):hover {
  background-color: #d8f6ff;
  box-shadow: 0 0 10px black;
  color: #273746;
}

/*dashboard*/
.content {
  flex: 1;
  text-align: right;
  margin: 1vw 2vw 0vw 0vw;
}

.content h1 {
  font-size: 3vw;
}

.content p {
  font-size: 2vw;
}

@media (max-width: 480px) {
  /*sidenav*/
  .sidenav {
    width: 32.5vw;
    height: 100vh;
  }

  .sidenav .links li a {
    padding: 1vw 1vw 1vw 1vw;
    margin: 2.5vw 0.5vw 0.5vw 0.5vw;
    border-radius: 0.5rem;
    font-size: 3.75vw;
  }

  /*dashboard*/
  .content {
    flex: 1;
    text-align: right;
    margin: 1vw 2vw 0vw 0vw;
  }

  .content h1 {
    font-size: 6vw;
  }

  .content p {
    font-size: 4vw;
  }
}
