.flexSidebar {
  display: flex;
  top: 0vw;
}

/*sidenav*/
.sidenav {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 100vh;
  background-color: #f8f7f6dd;
  margin-left: 10vw;
  margin-top: 3vw;
}

.sidenav .links {
  list-style: none;
}

.sidenav .links li a {
  display: block;
  text-decoration: none;
  text-align: left;
  background-color: #55788cd6;
  color: #ffffff;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  margin: 1vw 0.5vw 0.5vw 0.5vw;
  border-radius: 0.5vw;
  font-size: 0.8vw;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.sidenav .links li a:not(.active):hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px black;
  color: #273746;
}

/*dashboard*/
.content {
  flex: 1; 
  text-align: center;
  margin: 0;
  font-size: 2vw;
  color: #55788C;
  margin-top: 3vw;
}

.overskriftDashboard {
  font-size: 2vw;
  font-weight: 600;
  color: black;
  
}

.underskriftDashboard {
  color: black;
  margin-top: 1vw;
  font-size: 1.5vw;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.antallAnsatte {
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-align: center;
  padding: 1vw;
  border-radius: 0.5vw;
  background-color: #55788cab;
  border: solid 1px #8d8d8d00;
  font-weight: 600;
  color: white;
  margin-top: 1vw;
  font-size: 1vw;
}

.innholdDashboard {
  font-size: 1.2vw;
  margin-top: 0.5vw;
  color: black;

}
.buttonDashboard {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 0.5vw;
  margin-left: 0.3vw;
}
.ikon {
  margin-top: 2vw;
  margin-bottom: 0.5vw;
  color: #55788C;
}

@media (max-width: 480px) {
  .flexSidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

/*sidenav*/
.sidenav {
  width: 100vw;
  height: auto;
  margin: 0;
}

.sidenav .links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 5vw;
}

.sidenav .links li a {
  padding: 1vw 2vw 1vw 2vw;
  margin: 0vw 0.5vw 0.5vw 0.5vw;
  border-radius: 1vw;
  font-size: 3.75vw;
}

/*dashboard*/
.content {
  flex: 1; 
  text-align: center;
  margin-right: 0vw;
  font-size: 3vw;
  color: #55788C;
  margin-top: 6vw;
}

.opprett {
  font-size: 4vw;
  color: black;
  margin: 3vw 0vw 1vw 0vw;
}

.overskriftDashboard {
  font-size: 5vw;
  font-weight: 600;
  color: black;
  
}

.underskriftDashboard {
  color: black;
  margin-top: 1vw;
  font-size: 4vw;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.antallAnsatte {
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-align: center;
  padding: 2vw;
  border-radius: 1vw;
  background-color: #55788cab;
  border: solid 1px #8d8d8d00;
  font-weight: 600;
  color: white;
  margin-top: 1vw;
  font-size: 4vw;
}

.innholdDashboard {
  font-size: 4vw;
  margin-top: 0.5vw;
  color: black;

}
.buttonDashboard {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 0.5vw;
  margin-left: 0.3vw;
}
.ikon {
  margin: 3vw 0vw 1vw 0vw;
  font-size: 8vw;
  color: #55788C;
}

}
